@inherits LayoutComponentBase

<PageTitle>RR Stats</PageTitle>

<div class="page">
	<div class="navbar">
        <NavBar />
    </div>
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>